<div class="jumbotron center">
     <h1>Welcome to Coderstravel!</h1>
     <% if user_signed_in? %>
          Get ready to rumble
     <% else %>
       <p>
       	  <h3> Be a part of an amazing community</h3>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
       </p>
  <% end %>  
</div>