<h1> Welcome to Coderstravel</h1>
<div class="jumbotron">
	<h1>Be a part of the amazing community!</h1>
	Click here to 
	<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", "#", class: "btn btn-danger btn-lg" %>
</div>
